<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alexcortyl@gmail.com">Contact</a></li>
	        		<li><a href="https://github.com/cortylal">Check my github!</a></li>
	        		<li><a href="https://www.linkedin.com/in/alexandrecortyl/en?locale=en_US&trk=profile_view_lang_sel_click">Add me on Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
